<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sirajul.profile">

    <!-- Internet permission for WebView -->
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
		android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="Profile"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">

        <!-- WebView Activity (Main Screen) -->
        <activity android:name=".MainActivity"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Splash Screen Activity (Launcher) -->
        <activity android:name=".SplashActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
